body {
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a:href, a:link, a:visited, .links {
	color: #845939;
	text-decoration: underline;
}
a:hover {
	background-color: #FFFFFF;
	text-decoration: none;
}
.links B {
	font-weight: bolder;
}
p, li, dt, .ptext, .contacts {
	color: #494B5A;
	font:14px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
}
em {
	color: #494B5A;
	font:14px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
.footer {
	color: #494B5A;
	font:12px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1, .title {
	color: #494B5A;
	font:20px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
h2 {
	color: #845939;
	font:18px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
h3 {
	color: #845939;
	font:16px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
h4 {
	color: #845939;
	font:14px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
