<?xml version="1.0" encoding="UTF-8"?>
<kits>
  <kit>
    <resource>app-support.teragrid.org-4.0.2</resource>
    <software>
      <macro>apps4.0.2-ant-software</macro>
      <expression>sw[Name = 'apache-ant']</expression>
    </software>
    <software>
      <macro>apps4.0.2-java-software</macro>
      <expression>sw[Name = 'java']</expression>
    </software>
    <software>
      <macro>compiler-gcc-software</macro>
      <expression>sw[Name = 'compiler-c-gnu' or Name = 'compiler-c++-gnu' or Name = 'compiler-gnu-gcc' or Name = 'compiler-gnu']</expression>
      <resource>app-support.teragrid.org-4.0.2-compiler-gnu</resource>
    </software>
    <software>
      <expression>sw[Name = 'compiler-f77-gnu']</expression>
      <resource>app-support.teragrid.org-4.0.2-compiler-gnu-fortran</resource>
    </software>
    <software>
      <expression>sw[Name = 'compiler-c-ibm-xl' or Name = 'compiler-c++-ibm-xl']</expression>
      <resource>app-support.teragrid.org-4.0.2-compiler-ibm</resource>
    </software>
    <software>
      <expression>sw[Name = 'gnu-make']</expression>
      <resource>app-support.teragrid.org-4.0.2-gmake</resource>
    </software>
    <software>
      <expression>sw[Name = 'hdf5']</expression>
      <resource>app-support.teragrid.org-4.0.2-hdf5</resource>
    </software>
    <software>
      <expression>sw[Name = 'python']</expression>
      <resource>app-support.teragrid.org-4.0.2-python</resource>
    </software>
    <software>
      <expression>sw[Name = 'softenv']</expression>
      <resource>app-support.teragrid.org-4.0.2-softenv</resource>
    </software>
    <software>
      <expression>sw[Name = 'srb-client']</expression>
      <resource>app-support.teragrid.org-4.0.2-srb</resource>
    </software>
    <software>
      <expression>sw[Name = 'tcl']</expression>
      <resource>app-support.teragrid.org-4.0.2-tcl</resource>
    </software>
  </kit>
  <kit>
    <resource>app-support.teragrid.org-4.2.0</resource>
    <software>
      <macro>apps4.2.0-ant-software</macro>
      <expression>sw[Name = 'apache-ant']</expression>
    </software>
    <software>
      <macro>apps4.2.0-java-software</macro>
      <expression>sw[Name = 'java']</expression>
    </software>
    <software>
      <expression>sw[Name = 'blas' or Name = 'blas-atlas' or Name = 'blas-mkl' or Name = 'blas-acml' or Name = 'blas-libsci']</expression>
      <resource>app-support.teragrid.org-4.2.0-blas</resource>
    </software>
    <software>
      <macro>compiler-gcc-software</macro>
      <expression>sw[Name = 'compiler-c-gnu' or Name = 'compiler-c++-gnu' or Name = 'compiler-gnu-gcc' or Name = 'compiler-gnu' or Name = 'compiler-?-gnu']</expression>
      <resource>app-support.teragrid.org-4.2.0-compiler-gnu</resource>
    </software>
    <software>
      <expression>sw[Name = 'compiler-f77-gnu' or Name = 'compiler-f90-gnu' or Name = 'compiler-f95-gnu' or Name = 'compiler-?-gnu']</expression>
      <resource>app-support.teragrid.org-4.2.0-compiler-gnu-fortran</resource>
    </software>
    <software>
      <expression>sw[Name = 'compiler-c-ibm-xl' or Name = 'compiler-c++-ibm-xl']</expression>
      <resource>app-support.teragrid.org-4.2.0-compiler-ibm</resource>
    </software>
    <software>
      <macro>apps4.2.0-compiler-intel-software</macro>
      <expression>sw[Name = 'compiler-c-intel' or Name = 'compiler-c++-intel' or Name = 'compiler-intel']</expression>
      <resource>app-support.teragrid.org-4.2.0-compiler-intel</resource>
    </software>
    <software>
      <macro>apps4.2.0-compiler-pgi-software</macro>
      <expression>sw[Name = 'compiler-c-pgi' or Name = 'compiler-c++-pgi' or Name = 'compiler-pgi']</expression>
      <resource>app-support.teragrid.org-4.2.0-compiler-pgi</resource>
    </software>
    <software>
      <expression>sw[Name = 'gnu-make']</expression>
      <resource>app-support.teragrid.org-4.2.0-gmake</resource>
    </software>
    <software>
      <expression>sw[Name = 'gur-client']</expression>
      <resource>app-support.teragrid.org-4.2.0-gur</resource>
    </software>
    <software>
      <expression>sw[Name = 'hdf4']</expression>
      <resource>app-support.teragrid.org-4.2.0-hdf4</resource>
    </software>
    <software>
      <expression>sw[Name = 'hdf5']</expression>
      <resource>app-support.teragrid.org-4.2.0-hdf5</resource>
    </software>
    <software>
      <expression>sw[Name = 'mcp-client']</expression>
      <resource>app-support.teragrid.org-4.2.0-mcp</resource>
    </software>
    <software>
      <expression>sw[Name = 'python']</expression>
      <resource>app-support.teragrid.org-4.2.0-python</resource>
    </software>
    <software>
      <expression>sw[Name = 'softenv']</expression>
      <resource>app-support.teragrid.org-4.2.0-softenv</resource>
    </software>
    <software>
      <expression>sw[Name = 'srb-client']</expression>
      <resource>app-support.teragrid.org-4.2.0-srb</resource>
    </software>
    <software>
      <expression>sw[Name = 'tcl']</expression>
      <resource>app-support.teragrid.org-4.2.0-tcl</resource>
    </software>
    <software>
      <expression>sw[Name = 'tgcp']</expression>
      <resource>app-support.teragrid.org-4.2.0-tgcp</resource>
    </software>
  </kit>
  <kit>
    <resource>core.teragrid.org-4.2.1</resource>
  </kit>
  <kit>
    <resource>core.teragrid.org-5.0.0</resource>
  </kit>
  <kit>
    <resource>data-management.teragrid.org-4.0.0</resource>
    <software>
      <expression>service[Name = 'srb-server']</expression>
      <resource>data-management.teragrid.org-4.0.0-srb</resource>
    </software>
  </kit>
  <kit>
    <resource>data-movement-clients.teragrid.org-4.2.0</resource>
  </kit>
  <kit>
    <resource>data-movement-servers.teragrid.org-4.2.0</resource>
    <software>
      <macro>dataMoveServer4.2.0-gridftp-nonstriped-registered-software</macro>
      <expression>service[Name = 'gridftp-nonstriped-server']</expression>
      <resource>data-movement-servers.teragrid.org-4.2.0-gridftp-nonstriped</resource>
    </software>
    <software>
      <macro>dataMoveServer4.2.0-gridftp-striped-registered-software</macro>
      <expression>service[Name = 'gridftp-striped-server']</expression>
      <resource>data-movement-servers.teragrid.org-4.2.0-gridftp-striped</resource>
    </software>
    <software>
      <expression>service[Name = 'rft']</expression>
      <resource>data-movement-servers.teragrid.org-4.2.0-rft</resource>
    </software>
  </kit>
  <kit>
    <resource>data-movement.teragrid.org-4.1.2</resource>
    <software>
      <macro>dataMove4.1.2-gridftp-nonstriped-registered-software</macro>
      <expression>service[Name = 'gridftp-nonstriped-server']</expression>
      <resource>data-movement.teragrid.org-4.1.2-gridftp-nonstriped</resource>
    </software>
    <software>
      <macro>dataMove4.1.2-gridftp-striped-registered-software</macro>
      <expression>service[Name = 'gridftp-striped-server']</expression>
      <resource>data-movement.teragrid.org-4.1.2-gridftp-striped</resource>
    </software>
    <software>
      <expression>service[Name = 'rft']</expression>
      <resource>data-movement.teragrid.org-4.1.2-rft</resource>
    </software>
  </kit>
  <kit>
    <resource>local-compute.teragrid.org-4.2.2</resource>
  </kit>
  <kit>
    <resource>login.teragrid.org-4.0.0</resource>
    <software>
      <expression>sw[Name = 'gx-map']</expression>
      <resource>login.teragrid.org-4.0.0-gxmap</resource>
    </software>
    <software>
      <expression>sw[Name = 'softenv']</expression>
      <resource>login.teragrid.org-4.0.0-softenv</resource>
    </software>
    <software>
      <expression>sw[Name = 'tgproxy']</expression>
      <resource>login.teragrid.org-4.0.0-tgproxy</resource>
    </software>
  </kit>
  <kit>
    <resource>login.teragrid.org-4.0.2</resource>
    <software>
      <expression>sw[Name = 'gx-map']</expression>
      <resource>login.teragrid.org-4.0.2-gxmap</resource>
    </software>
    <software>
      <expression>sw[Name = 'softenv']</expression>
      <resource>login.teragrid.org-4.0.2-softenv</resource>
    </software>
    <software>
      <expression>sw[Name = 'tgproxy']</expression>
      <resource>login.teragrid.org-4.0.2-tgproxy</resource>
    </software>
  </kit>
  <kit>
    <resource>metascheduling.teragrid.org-4.2.0</resource>
  </kit>
  <kit>
    <resource>metascheduling.teragrid.org-4.2.1</resource>
  </kit>
  <kit>
    <resource>parallel-app.teragrid.org-4.0.0</resource>
  </kit>
  <kit>
    <resource>parallel-app.teragrid.org-4.0.1</resource>
  </kit>
  <kit>
    <resource>remote-compute.teragrid.org-4.0.2</resource>
    <software>
      <expression>service[Name = 'globus-mds']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-mds</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds-secure']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-mds-auth</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 8) = 'ogsa-dai']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-ogsadai</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 10) = 'prews-gram']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-prewsgram</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 10) = 'prews-gram']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-prewsgram-batch</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 10) = 'prews-gram']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-prewsgram-netstat</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-wsgram</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-wsgram-batch</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-4.0.2-wsgram-netstat</resource>
    </software>
  </kit>
  <kit>
    <resource>remote-compute.teragrid.org-4.2.0</resource>
    <software>
      <expression>service[Name = 'globus-mds']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-mds</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds-secure']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-mds-auth</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 10) = 'prews-gram']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-prewsgram</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 10) = 'prews-gram']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-prewsgram-batch</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 10) = 'prews-gram']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-prewsgram-netstat</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-wsgram</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-wsgram-batch</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-4.2.0-wsgram-netstat</resource>
    </software>
  </kit>
  <kit>
    <resource>remote-compute.teragrid.org-5.0.1</resource>
    <software>
      <expression>service[substring(Name, 1, 5) = 'gram5']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-gram5</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 5) = 'gram5']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-gram5-batch</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 5) = 'gram5']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-gram5-netstat</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-mds</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds-secure']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-mds-auth</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-wsgram</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-wsgram-batch</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>remote-compute.teragrid.org-5.0.1-wsgram-netstat</resource>
    </software>
  </kit>
  <kit>
    <resource>science-gateway.teragrid.org-4.2.0</resource>
    <software>
      <expression>service[Name = 'globus-mds']</expression>
      <resource>science-gateway.teragrid.org-4.2.0-mds</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds-secure']</expression>
      <resource>science-gateway.teragrid.org-4.2.0-mds-auth</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 8) = 'ogsa-dai']</expression>
      <resource>science-gateway.teragrid.org-4.2.0-ogsadai</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>science-gateway.teragrid.org-4.2.0-wsgram</resource>
    </software>
  </kit>
  <kit>
    <resource>science-gateway.teragrid.org-5.0.1</resource>
    <software>
      <expression>service[substring(Name, 1, 5) = 'gram5']</expression>
      <resource>science-gateway.teragrid.org-5.0.1-gram5</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds']</expression>
      <resource>science-gateway.teragrid.org-5.0.1-mds</resource>
    </software>
    <software>
      <expression>service[Name = 'globus-mds-secure']</expression>
      <resource>science-gateway.teragrid.org-5.0.1-mds-auth</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 8) = 'ogsa-dai']</expression>
      <resource>science-gateway.teragrid.org-5.0.1-ogsadai</resource>
    </software>
    <software>
      <expression>service[substring(Name, 1, 7) = 'ws-gram']</expression>
      <resource>science-gateway.teragrid.org-5.0.1-wsgram</resource>
    </software>
  </kit>
  <kit>
    <resource>vtss.teragrid.org-3.0.0</resource>
    <software>
      <expression>sw[Name = 'chromium']</expression>
      <resource>vtss.teragrid.org-3.0.0-chromium</resource>
    </software>
    <software>
      <expression>sw[Name = 'imagemagick']</expression>
      <resource>vtss.teragrid.org-3.0.0-imagamagick</resource>
    </software>
    <software>
      <expression>sw[Name = 'mesa']</expression>
      <resource>vtss.teragrid.org-3.0.0-mesa</resource>
    </software>
  </kit>
  <kit>
    <resource>vtss.teragrid.org-4.2.0</resource>
  </kit>
  <kit>
    <resource>wan-gpfs.teragrid.org-4.0.0</resource>
  </kit>
  <kit>
    <resource>wan-lustre.teragrid.org-4.0.0</resource>
  </kit>
  <kit>
    <resource>wan-lustre.teragrid.org-5.0.0</resource>
  </kit>
  <kit>
    <resource>workflow.teragrid.org-4.0.0</resource>
  </kit>
  <kit>
    <resource>workflow.teragrid.org-4.2.0</resource>
  </kit>
</kits>
