.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
	line-height: 105%;
	color: #9494B5;
}

.links B {
	font-size: 85%;
	font-weight: bolder;
}
a:link, .links a:visited {
	color: #215AAD;
	text-decoration: none;
}
p, .ptext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	line-height: 120%;
	color: #504D6A;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 110%;
	color: #7C789F;
}
a:visited {
	color: #8D5FB1;
	text-decoration: none;
}
body {
	background-color: #FFFFFF;
	color: #504D6A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	line-height: 105%;
	font-weight: 900;
	color: #6862A8;
}
ul {
	font-size: 85%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 115%;
	color: #504D6A;
}
.contacts {
	font-size: 90%;
	line-height: 115%;
}
